<h3 class="question">Where does this data come from?</h3>
<p class="answer"><a href="https://stpaul.legistar.com/Calendar.aspx">stpaul.legistar.com</a>, a site contracted by the City of Saint Paul. minutes_maid is not endorsed by or affiliated with the City of Saint Paul.</p>
</br>

<h3 class="question">Why create minutes_maid?</h3>
<p class="answer">minutes_maid removes the need for folks to manually weed through the City of Saint Paul meetings to find items of concern to them. minutes_maid also lets users take notes on items for later review.</p>
</br>

<h3 class="question">Who do I contact to request functionality or report issues?</h3>
<p class="answer">Email eric at humegatech dot com</p>
</br>

<h3 class="question">Can I see the source code?</h3>
<p class="answer">Yes! <a href="https://github.com/eebbesen/minutes_maid">minutes_maid on GitHub</a></p>
</br>

<h3 class="question">What git sha is running?</h3>
<p class="answer"><%= ENV['SOURCE_VERSION'] || "I'm unsure -- this feature is only configured for Heroku deployments"%></p>
</br>
