---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=1600%20Grand%20Ave&key=AIzaSyCTQ7QGkpvV8mw_6HDfxw-4_Sd7vNsJ6G0&language=en
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "1600 Grand Avenue, Saint Paul, MN, USA",
                 "id" : "74cb97651962e5c1e48ee6c7b686d4904a1b1eb4",
                 "matched_substrings" : [
                    {
                       "length" : 4,
                       "offset" : 0
                    },
                    {
                       "length" : 9,
                       "offset" : 5
                    }
                 ],
                 "place_id" : "ChIJZW__ehcq9ocRYN-4nWCtgX4",
                 "reference" : "ChIJZW__ehcq9ocRYN-4nWCtgX4",
                 "structured_formatting" : {
                    "main_text" : "1600 Grand Avenue",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 4,
                          "offset" : 0
                       },
                       {
                          "length" : 9,
                          "offset" : 5
                       }
                    ],
                    "secondary_text" : "Saint Paul, MN, USA"
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "1600"
                    },
                    {
                       "offset" : 5,
                       "value" : "Grand Avenue"
                    },
                    {
                       "offset" : 19,
                       "value" : "Saint Paul"
                    },
                    {
                       "offset" : 31,
                       "value" : "MN"
                    },
                    {
                       "offset" : 35,
                       "value" : "USA"
                    }
                 ],
                 "types" : [ "street_address", "geocode" ]
              },
              {
                 "description" : "1600 West Grand Avenue, Saint Paul, MN, USA",
                 "id" : "41f5e8e0543d833ff857e6aadb40985fba9ccf2b",
                 "matched_substrings" : [
                    {
                       "length" : 4,
                       "offset" : 0
                    },
                    {
                       "length" : 9,
                       "offset" : 10
                    }
        [...]
