---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=1600%20Grand%20Ave%20Saint%20Paul,%20MN&key=<%=ENV['MM_GOOGLE_API_KEY']%>&language=en
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "1600 Grand Ave, Saint Paul, MN, USA",
                 "id" : "74cb97651962e5c1e48ee6c7b686d4904a1b1eb4",
                 "matched_substrings" : [
                    {
                       "length" : 4,
                       "offset" : 0
                    },
                    {
                       "length" : 9,
                       "offset" : 5
                    },
                    {
                       "length" : 10,
                       "offset" : 16
                    },
                    {
                       "length" : 2,
                       "offset" : 28
                    }
                 ],
                 "place_id" : "ChIJZW__ehcq9ocRYN-4nWCtgX4",
                 "reference" : "ChIJZW__ehcq9ocRYN-4nWCtgX4",
                 "structured_formatting" : {
                    "main_text" : "1600 Grand Ave",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 4,
                          "offset" : 0
                       },
                       {
                          "length" : 9,
                          "offset" : 5
                       }
                    ],
                    "secondary_text" : "Saint Paul, MN, USA",
                    "secondary_text_matched_substrings" : [
                       {
                          "length" : 10,
                          "offset" : 0
                       },
                       {
                          "length" : 2,
                          "offset" : 12
                       }
                    ]
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "1600"
                    },
                    {
                       "offset" : 5,
                       "value" : "Grand Ave"
                    },
                    {
                       "offset" : 16,
                       "value" : "Saint Paul"
                    },
                    {
                       "offset" : 28,
                       "value" : "MN"
                    },
                    {
                       "offset" : 32,
                       "value" : "USA"
                    }
                 ],
                 "types" : [ "street_address", "geocode" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 24 Feb 2019 21:03:31 GMT
recorded_with: VCR 4.0.0
