---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=10001%20Marshall%20Avenue%20Saint%20Paul,%20MN&key=AIzaSyCTQ7QGkpvV8mw_6HDfxw-4_Sd7vNsJ6G0&language=en
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "10001 Marshall Avenue, Saint Paul, MN, USA",
                 "id" : "d32bc43b9100686aaf4c48c3811bb2d112a12993",
                 "matched_substrings" : [
                    {
                       "length" : 15,
                       "offset" : 6
                    },
                    {
                       "length" : 10,
                       "offset" : 23
                    },
                    {
                       "length" : 2,
                       "offset" : 35
                    }
                 ],
                 "place_id" : "EioxMDAwMSBNYXJzaGFsbCBBdmVudWUsIFNhaW50IFBhdWwsIE1OLCBVU0E",
                 "reference" : "EioxMDAwMSBNYXJzaGFsbCBBdmVudWUsIFNhaW50IFBhdWwsIE1OLCBVU0E",
                 "structured_formatting" : {
                    "main_text" : "10001 Marshall Avenue",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 15,
                          "offset" : 6
                       }
                    ],
                    "secondary_text" : "Saint Paul, MN, USA",
                    "secondary_text_matched_substrings" : [
                       {
                          "length" : 10,
                          "offset" : 0
                       },
                       {
                          "length" : 2,
                          "offset" : 12
                       }
                    ]
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "10001"
                    },
                    {
                       "offset" : 6,
                       "value" : "Marshall Avenue"
                    },
                    {
                       "offset" : 23,
                       "value" : "Saint Paul"
                    },
                    {
                       "offset" : 35,
                       "value" : "MN"
                    },
                    {
                       "offset" : 39,
                       "value" : "USA"
                    }
                 ],
                 "types" : [ "route", "geocode" ]
              },
              {
                 "description" : "10001 Marshall Place, Saint Paul, MN, USA",
                 "id" : "3090e2ef5d8cdb4517fabfb7c2e876fe1b6cf2cd",
                 "matched_substrings" : [
                    {
                       "length" : 14,
                       "offset" : 6
                    },
                    {
                       "length" : 10,
                       "offset" : 22
                    },
                [...]
