// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.buttons-left {
  float: left;
}

.buttons-right {
  float: right;
  padding-right: 2em;
}

#item-filter {
  width: 17.5em;
}
